/*
	Megan Patterson
	http://www.mpegdesigns.com
	
	Pink: #f080f0
	Highlight Pink: #f1b4f1
	Slate Grey: #464646
	Light Grey:	#e2e2e2
	
	
*/

/*
	RESET
*/

*				{margin: 0; padding: 0;}
html			{overflow-y: scroll;}
html, body		{height: 100%;}
body			{font-size: 62.5%; font-family: Helvetica, sans-serif; color: #272727;
				background: url(/images/ticks.png) top center repeat-x;}
ul				{list-style: square inside;}
ol				{list-style: decimal inside;}
a				{outline: none; text-decoration: none;}
a img			{border: none;}
img				{vertical-align: middle;}
table			{border-collapse: collapse;}


/*
	UTILITY
*/

.floatleft		{float: left;}
.foatright		{float: right;}
.clear			{clear: both;}
.button			{border: 1px solid #272727; background: white; padding: 3px 8px;
				-moz-border-radius: 5px; -webkit-border-radius: 5px; color: #272727;}
.button:hover	{background: #990000; color: white;}

/*
	STRUCTURE
*/
#page-wrap		{width: 960px; margin: 0px auto -250px:
				 min-height: 100%; height: auto !important; height: 100%;}
#push			{height: 250px;}

/*
	HEADER
*/

h1#logo			{width: 288px; height: 33px; background: url(/images/chriscoyier.png) top 
				 left no-repeat; text-indent: -9999px; 
				 margin: 0 10px 8px 0; float: left; }
				 
				 
				 
	body
		{
		font-family: 'Helvetica', Arial, sans-serif;
		font-size: 14px;
		color: #324243;
		background-image: url(images/ticks.png);
		margin: 0; /* This is so the border-top sits tight to the top of the page. */
		}
		
		
		/* 
		Layout
		*/
		
		#container
		{
		width: 850px;
		margin-top: 30px;
		margin-left: auto;
		margin-right: auto;
		background-image: url(images/ticks.png);
		
		}
		
		#header
		{
		text-align: center; 	
		padding-top: 0px;
		padding-bottom: 0px;
		float: inherit;
		height: 145px;
		}
		
		#content
		{
		width: auto;
		padding: 5px 5px;
		clear: both;
		align: center;
		}
		
		#divider
		{
		bacground-image: url(images/divider.gif);
		height: auto;
		width: 780px;
		padding: 0;
		margin: 0;
		}
		#image1
		{
		width: auto;
		float: right;
		}
		
		#image2
		{
		width: auto;
		float: left;
		}
		
		#caption1
		{
		width: auto;
		float: left;
		}
		
		#caption2
		{
		width: auto;
		float: right;
		}
		
		#workpiece
		{
		width: auto;
		}
		
		#central
		{
		text-align: center;
		}
		
		#menu
		{
		width: auto;
		clear: both;
		text-align: center;
		/*padding: 15px 15px 15px 15px;*/
		}
		
		#footer
		{
		height: auto;
		font-size: 11px;
		line-height: 0.5em;
		text-align: center;
		color: #383330;
		clear: both;
		background-color: #577a8f; 
		-moz-border-bottom-left-radius: 15px;
		-moz-border-bottom-right-radius: 15px;
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
		}
		
		/* 
		Classes
		*/
		
		.home
		{
		padding: 0px 0px 0px 21px;
		}
		
		.portfolio
		{
		padding: 0px 0px 0px 21px;
		}
		
		.about
		{
		padding: 0px 0px 0px 21px;
		}
		
		.contact
		{
		padding: 0px 0px 0px 21px;
		}
	
		#video
		{
		text-align:center;
		}
		
		.vid_align
		{
		text-align: center;
		}
		
		.logo
		{
		float: left;
		}
		
		/* 
		Images
		*/
				
		img
		{
		border: none;
		margin-left:auto;
		margin-right:auto;
		}
		
		.portrait
		{
		margin: 10px 0;
		padding: 4px;
		border: 3px groove #494943;
		align: center;
		}
		
		
		/*
		Typography
		*/
		
		h1, h2, h3, h4
		{
		font-weight: normal;
		color: #415b5b;
		}
		
		h1
		{
		font-size: 60px;
		font-family: Lucida sans, sans-serif;
		letter-spacing: 0.075em;
		text-align:	center;
		}
		
		h2
		{
		font-size: 24px;
		}
		
		p
		{
		line-height: 1.6;
		}
		
		
		/*
		Links
		*/
		
		a
		{
		color: #7CCACC;
		text-decoration: none;
		line-height: 1.5;
		}
		
		.home
		{
		}
		
		.portfolio
		{
		}
		
		.about
		{
		}
		
		.contact
		{
		}
		
		
 
 		/*
		Lists
		*/

		ol
		{
		line-height: 1.8;
		}
