/*
	Megan Patterson
	http://www.mpegdesigns.com
	
	Pink: #f080f0
	Highlight Pink: #f1b4f1
	Slate Grey: #464646
	Light Grey:	#e2e2e2
	
	
*/

/*
LAYOUT DIVS
*/

body
{
font-family: 'Helvetica' Arial, sans-serif;
font-size: 12pt;
color: #e2e2e2;
background-image: url(images/ticks.png);
margin: 0;
}


#container
{
width: 900px;
margin-top: 0;
margin-left: auto;
margin-right: auto;
background-image: url(images/ticks.png);
}

#header
{
text-align: center;
padding-top:
padding-bottom:
float: center;
height: auto;
}

#menu
{
width: auto;
clear: both;
text-align: center;
/*padding:*/
}

#content1
{
width: 900px;
padding: 
clear: both;
}

#content2
{
margin-top: 20px;
width: 600px;
float: left;
clear: both;
}

#sidebar
{
margin-top: 20px;
width: 300px;
float: left;
/*background-color: #ffffff;*/
}

#sidebar p
{
padding-left: 10px;
}


#footer
{
height: 50px;
font-size: 12pt;
line-height: 
text-align: left;
color: #464646;
clear: both;
background-color: #e2e2e2;
}

/*CLASSES*/

.category
{
text-align: center;
}

.box
{
width: 280px;
background-color: #ffffff;
}

/*TYPOGRAPHY*/

h1, h2, h3, h4
{
font-weight: normal;
color: #f080f0;
}
		
h1
{
font-size: 24pt;
font-family: 'Helvetica' Arial, sans-serif;
letter-spacing:
text-align: left;
}
		
h2
{
font-size: 20pt;
color: #f080f0;
}
		
p
{
color: #464646;
line-height: 1.5em;
}


/*IMAGES*/

img
{
border: none;
margin-left: auto;
margin-right: auto;		
}
		
.portrait
{
margin: auto;
padding: auto;
border: solid 10px;
border-color: #ffffff;
}


/*LINKS*/

a
{
color: #f080f0;
text-decoration: none; 
line-height:
}


/*MENU*/

#nav
{
border: none;
border-width:1px 0;
list-style:none;
margin:0;
padding:0;
text-align:center;
}

#nav li
{
display:inline;
}

#nav a:link,a:visited
{
display:inline-block;
width: 135px;
font-weight:bold;
color:#f080f0;
text-align:center;
padding:4px;
text-decoration:none;
text-transform:uppercase;
}

#nav a:hover,a:active
{
color: #f1b4f1;
}

#nav ul
{
position:absolute;
/*top:100%; Uncommenting this makes the dropdowns work in IE7 but looks a little worse in all other browsers. Your call. */
left:-9999px;
margin:0;
padding:0;
text-align:left;
}
	
#nav ul li{
display:block;
}

#nav li:hover ul{
left:0;
}

#nav li:hover a{
text-decoration: none;
color: #f1b4f1;
}

#nav li:hover ul a{
text-decoration:none;
background:none;
}

#nav li:hover ul a:hover{
text-decoration:underline;
background:#f1f1f1;
}
		
#nav ul a{
white-space:nowrap;
display:block;
border-bottom:1px solid #ccc;
}


/*RIBBON BOX - HOMEPAGE*/

.ribbon {
    width: 270px;
    margin: 10px 10px auto;
    padding: 0 10px 0;
    position: relative;
    color: #ffffff;
    background: #fff;
    border: 1px solid #f080f0;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.ribbon h3 {
    display: block;
    height: 30px;
    line-height: 1.3;
    width: 280px;
    margin: 0;
    padding: 5px 10px;
    position: relative;
    left: -16px;
    top: 8px;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 1px 1px #111;
    border-top: 1px solid #f080f0;
    border-bottom: 1px solid #f080f0;
    background: #f080f0;
    background: linear-gradient(top, #00aeef 0%, #00aeef 100%);
    border-radius: 2px 2px 0 0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}
.ribbon h3::before,
.ribbon h3::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    bottom: -11px;
    z-index: -10;
    border: 5px solid;
    border-color: #f080f0 transparent transparent transparent;    
}
.ribbon h3::before {left: 0;}
.ribbon h3::after {right: 0;}

/*RIBBON BOX - CONTACT*/

.ribbon2 {
    width: 400px;
    margin: 10px auto;
    padding: 0 10px 0;
    position: relative;
    color: #ffffff;
    background: #fff;
    border: 1px solid #d2d2d2;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    float: left;
}
.ribbon2 h3 {
    display: block;
    height: 30px;
    line-height: 1.3;
    width: 410px;
    margin: 0;
    padding: 5px 10px;
    position: relative;
    left: -16px;
    top: 8px;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 1px 1px #111;
    border-top: 1px solid #f080f0;
    border-bottom: 1px solid #f080f0;
    background: #f080f0;
    background: linear-gradient(top, #f080f0 0%, #f080f0 100%);
    border-radius: 2px 2px 0 0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}
.ribbon2 h3::before,
.ribbon2 h3::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    bottom: -11px;
    z-index: -10;
    border: 5px solid;
    border-color: #f080f0 transparent transparent transparent;    
}
.ribbon2 h3::before {left: 0;}
.ribbon2 h3::after {right: 0;}

/*CONTACT FORM*/

#contact 
{
width: 430px; 
float: left;
margin: 60px auto; 
padding: 10px 30px;
background: #dcdcdc; 
/*border: 1px solid #e1e1e1;*/
-moz-box-shadow: 0px 0px 8px #444;
-webkit-box-shadow: 0px 0px 8px #444;
}

#contact h1 
{
font-size: 35px; 
color: #f080f0; 
/*text-transform: uppercase;*/
text-align: center; 
margin: 0 0 35px 0; 
text-shadow: 0px 1px 0px #4b4b4b;
}

label 
{
float: left; 
clear: left; 
margin: 11px 20px 8px 0; 
/*width: 95px;*/
text-align: right; 
font-size: 16px; 
color: #515151; 
/*text-transform: uppercase; */
text-shadow: 0px 1px 0px #4b4b4b;
}

input 
{
width: 290px; 
height: 20px; 
padding: 5px 20px 0px 20px; 
margin: 0 0 20px 0; 
background: #dcdcdc;
border-radius: 5px; 
-moz-border-radius: 5px; 
-webkit-border-radius: 5px;
-moz-box-shadow: 0px 1px 0px #4b4b4b;
-webkit-box-shadow: 0px 1px 0px #f4b4b4b;
font-family: sans-serif; 
font-size: 14px; 
color: #515151; 
/*text-transform: uppercase; */
text-shadow: 0px -1px 0px #4b4b4b; 
}
input::-webkit-input-placeholder  
{
color: #515151; 
text-shadow: 0px -1px 0px #4b4b4b;  
}

input:-moz-placeholder 
{
color: #515151; 
text-shadow: 0px -1px 0px #4b4b4b; 
}

textarea 
{
width: 290px; 
height: 170px; 
padding: 12px 20px 0px 20px; 
margin: 0 0 20px 0; 
background: #dcdcdc;
border-radius: 5px; 
-moz-border-radius: 5px; 
-webkit-border-radius: 5px;
-moz-box-shadow: 0px 1px 0px #4b4b4b;
-webkit-box-shadow: 0px 1px 0px #4b4b4b;
font-family: sans-serif; 
font-size: 16px; color: #4b4b4b; 
/*text-transform: uppercase; */
text-shadow: 0px -1px 0px #4b4b4b; 
}

textarea::-webkit-input-placeholder  
{
color: #515151; 
text-shadow: 0px -1px 0px #4b4b4b;  
}

textarea:-moz-placeholder 
{
color: #515151; 
text-shadow: 0px -1px 0px #4b4b4b; 
}
	
input:focus, textarea:focus 
{
background: #c1c1c1;
}

input[type=submit] 
{
width: 185px; 
height: 52px; 
float: right; 
padding: 10px 15px; 
margin: 0 15px 0 0;
-moz-box-shadow: 0px 0px 5px #999;
-webkit-box-shadow: 0px 0px 5px #999;
border: 1px solid #dcdcdc;
cursor: pointer;
}

/*B&W*/
.bw {
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.bw:hover {
  -webkit-filter: grayscale(100%);
}

/*ROLLOVER*/

.roll .on { display: none; }
.roll .off { display: block; }
.roll:hover .on { display: block; }
.roll:hover .off { display: none; }
