/*
	Megan Patterson
	http://www.mpegdesigns.com
	
	Blue: #00d6ef
	Darker Blue: #02b1c6
	Slate Grey: #464646
	Light Grey:	#e2e2e2
	
	
*/

body
{
font-family: 'Helvetica' Arial, sans-serif;
font-size: 12pt;
color: #e2e2e2;
background-image: url(../images/ticks.png);
margin: 0;
}


/*==================STRUCTURE===================*/

#container
{
width: 900px;
margin-top: 0;
margin-left: auto;
margin-right: auto;
background-image: url(images/ticks.png);
}

#header
{
text-align: center;
margin-top: 0;
/* 
float: center;
height: auto;
 */

	h1
	{
	font-size: 3.7em;
	text-align: center;
	font-weight: bold;
    line-height: 1.8em;
	}
	
	h2
	{
	font-size: 2.5em;
	text-align: center;
	color: #707070;
	margin-top: -50px;
	}

}

#menu
{
width: auto;
clear: both;
text-align: center;

	ul
	{
	border: none;
	border-width:1px 0;
	list-style:none;
	margin:0;
	padding:0;
	text-align:center;
	}
	
	li
	{
	display:inline;
	}
	
	a
	{
	display:inline-block;
	width: 135px;
	font-weight:bold;
	color:#464646;
	text-align:center;
	padding:4px;
	text-decoration:none;
	text-transform:uppercase;
	
		:visited
		{
		color:#00d6ef;
		}
		
		:hover
		{
		color: #02b1c6;
		}
	
	
	}
}

#content1
{
width: 900px;
/* padding:  */
clear: both;
}

#content2
{
//margin-top: 20px;
width: 575px;
float: left;
clear: both;
padding-right: 10px;
}

#sidebar
{
margin-top: 30px;
width: 300px;
float: left;
/*background-color: #ffffff;*/
	
	p
	{
	padding-left: 10px;
	}
    
    h3
    {
        padding-left: 10px;
    }
    
    u 
    {
//     color: #02b1c6;   
    }

}

#footer
{

font-size: 12pt;
padding-bottom: 10px;
text-align: left;
color: #464646;
clear: both;

padding-left: 5px;

	a
	{
	color: #464646;
	font-size: 0.6em;
	
		:hover
		{
		color: #02b1c6;
		}
	}
}

/*====================CLASSES===================*/

.category
{
text-align: center;
}

.column
{
width: 33.33333333333333%;
float: left;

	img
	{
	width: 90%;
	margin: 0 auto;
	height: auto;
	}
	

}

.column2
{
width: 50%;
float: left;

	img
	{
	width: 90%;
	margin: 0 auto;
	height: auto;
	}
	

}

.columnclear
{
width: 33.33333333333333%;
clear: both;
float: left;

	img
	{
	width: 90%;
	margin: 0 auto;
	height: auto;
	}
	

}

.active
{
color: #02b1c6;
}

.grayscale
{
filter: grayscale(100%);
-webkit-filter: grayscale(100%);
filter: gray;
-webkit-transition: all .6s ease;

	:hover
	{
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
	filter: none;
	}
}
/*==============TYPOGRAPHY===================*/

h1, h2, h3, h4
{
font-weight: normal;
color: #00d6ef;
}
		
h1
{
font-size: 2em;
font-family: 'Helvetica' Arial, sans-serif;
/* letter-spacing: */
text-align: left;
}
		
h4
{
font-size: 1.3em;
}
	
h5
{
    font-size: 1.2em;
    color: #02b1c6;
    margin-bottom: 2px;
}
	
		
p
{
color: #464646;
line-height: 1.5em;
}


/*=============LINKS=======================*/

a
{
text-decoration: none;
color: #00d6ef;

	:visited
	{
	color: #00d6ef;
	}
	
	:hover
	{
	color: #02b1c6;
	}
}

/*===============LISTS===================*/

ul
{
 color: #464646;
 line-height: 1.5em;
}    


/*=============TABLES=============*/

table
{
 color: #464646;
    
    th 
    {
     color: #02b1c6;
     text-align: center;
     padding: 15px;
     border-bottom: 2px solid #02b1c6;
    }
    
    td 
    {
     padding: 15px;
     text-align: center;
    }
}

